#profile-shadow {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
}

#profile-shadow > .profile-window {
  border: 1px solid var(--border-color);
  background-color: var(--upper-element);
  border-radius: 20px;
  height: 40vh;
  width: 30vw;
  position: relative;
}

#profile-shadow > .profile-window > .exitbar {
  display: flex;
  justify-content: center;
}

#profile-shadow > .profile-window > .exitbar > h1 {
  font-size: 40px;
  margin: 1vh 0 2vh 0;
}

#profile-shadow > .profile-window > .exitbar > span {
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  top: 0.5vh;
  right: 1vh;
}

#profile-shadow > .profile-window > .exitbar > span:hover {
  color: red;
}

#profile-shadow > .profile-window > .main-info {
  display: flex;
  flex: 1;
}

#profile-shadow > .profile-window > .main-info > .profile-picture {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#profile-shadow > .profile-window > .main-info > .profile-picture > img {
  height: 13vw;
  width: 13vw;
  border-radius: 50%;
  margin-bottom: 5vh;
}

#profile-shadow > .profile-window > .main-info > .profile-details {
  height: 100%;
  width: 50%;
  justify-content: center;
  align-items: center;
}

#profile-shadow > .profile-window > .main-info > .profile-details > div {
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-bottom: 6vh;
}

#profile-shadow > .profile-window > .main-info > .profile-details > div > p {
  text-align: center;
}

#profile-shadow
  > .profile-window
  > .main-info
  > .profile-details
  > div
  > .balance
  > .balance-value {
  color: limegreen;
}

#profile-shadow
  > .profile-window
  > .main-info
  > .profile-details
  > div
  > button {
  margin-top: 2vh;
  background-color: var(--lower-element);
  width: 100%;
  height: 3vh;
  border-radius: 10px;
}

#profile-shadow
  > .profile-window
  > .main-info
  > .profile-details
  > div
  > button:hover {
  color: red;
  background-color: var(--hover-gray);
}
